body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5 {
    color: rgba(0, 0, 0, .7);
    font-weight: 500;
    margin: 0;
}

[class*="dhx_sample"] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    box-sizing: border-box;
}

.dhx_sample-event {
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    margin-bottom: 8px;
    margin-top: 0;
    padding: 8px;
    -webkit-animation: fadeIn .8s;
    animation: fadeIn .8s;
    border: 1px solid #FFF;
    border-radius: 2px;
    background: #F2F2F2;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.dhx_sample-container__widget {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.dhx_sample-header__content {
    max-width: 400px;
}

.dhx_sample-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    height: 60px;
    border-bottom: 1px solid #DFDFDF;
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    background-color: #FFF;
}

.dhx_form-group:not(:last-child) {
    margin-right: 24px;
}

.dhx_radiobutton__input {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.dhx_sample-input__wrapper--pl-16 {
    padding-left: 16px;
}

.dhx_sample-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1220px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    justify-content: center;
}

.dhx_sample-label, .dhx_sample-radio__label {
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    margin: 0 0 0 4px;
    padding: 0 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgba(0, 0, 0, .7);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dhx_sample-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    padding: 6px 8px;
    margin: 0;
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, .7);
    background-color: #f7f7f7;
    background-clip: padding-box;
    -webkit-box-shadow: inset 0 0 0 1px #dfdfdf;
    box-shadow: inset 0 0 0 1px #dfdfdf;
    border: 0;
    border-radius: 0;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    min-width: 100px;
}

.dhx_sample-btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 6px 16px;
    border-radius: 2px;
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.dhx_sample-btn--flat {
    background: #0288d1;
    color: #fff;
}

.dhx_sample-controls button:not(:last-child),
.dhx_sample-controls input:not(:last-child),
.dhx_sample-controls select:not(:last-child) {
    margin-right: 12px;
}

.dhx_sample-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .7);
}

.dhx_sample-input:-ms-input-placeholder {
    color: rgba(0, 0, 0, .7);
}

.dhx_sample-input::-ms-input-placeholder {
    color: rgba(0, 0, 0, .7);
}

.dhx_sample-input::placeholder {
    color: rgba(0, 0, 0, .7);
}

.dhx_sample-button-container {
    padding: 20px 0 0 100px;
}

.dhx_sample-container__sidebar {
    width: 350px;
    margin-left: 20px;
    border: 1px solid #DFDFDF;
    padding: 10px;
    height: 600px;
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    overflow-y: auto;
}

.dhx_sample-textarea {
    resize: none;
    width: 350px;
    border: 1px solid #DFDFDF;
    height: 600px;
    padding: 10px;
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    overflow-y: auto;
}

/*calendar*/

.dhx_sample-container__calendar-left {
    margin-right: 20px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.dhx_sample-container__calendar-right {
    margin-right: 20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

/*chart*/

.dhx_sample-container__chart-widget {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

/*colorpicker*/

.dhx_sample-container__colorpicker-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dhx_demo_helper {
    padding: 15px 0 7px 0;
}

.dhx_color-sample {
    width: 200px;
    height: 200px;
    margin: 8px 0;
}


.dhx_sample-container__combobox-widget {
    padding: 40px;
    width: 300px;
    margin: auto
}

.dhx_sample-form-group {
    padding-bottom: 0;
    width: auto;
}


.dhx_sample-controls > * {
    max-width: 300px;
}

.dhx_sample-result {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.icon {
    margin-left: 8px;
}

.dhx_textarea {
    padding: 20px;
    width: 400px;
    height: 400px;
    font-size: 16px;
    resize: none;
}

.dhx_textarea:focus {
    outline: 0;
}

/*dataview*/

.dhx_sample-container__dataview-widget {
    height: 600px;
    width: 600px;
    padding: 10px;
}

.dhx_sample-container__dataview-widget-grid, .dhx_sample-container__form-grid {
    height: 600px;
    width: 300px;
    padding: 5px;
}

.dhx_sample-container__dataview-widget .item_wrap .image, .dhx_sample-container__dataview-widget-grid .item_wrap .image {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 12px;
}

.dhx_sample-input__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 8px;
}

/*form*/

.dhx_sample-container__form-widget {
    padding: 20px;
    height: 100%;
}

.dhx_sample-container__form-widget .dhx_layout-cell--gravity {
    flex: 0 0 auto;
}

/*treegrid*/

.dhx_sample-container__treegrid-widget {
    width: 100%;
    height: 100%
}

.dhx_sample-container__treegrid-widget-grid {
    width: 270px;
    height: 600px;
    margin-right: 20px;
}

.dhx_sample-container--treegrid {
    height: 600px;
}

/*tree*/

.dhx_sample-container__tree-widget {
    padding: 3%;
}

/*toolbar*/

.dhx_sample-container__toolbar-widget {
    padding: 20px;
}

.toolbar-controls {
    margin: 20px;
    padding: 20px 20px;
    background: #fff;
    max-width: 260px;
}

.dhx_sample-container__toolbar-widget .user-button {
    padding: 4px 16px;
    border-radius: 4px;
    border: solid 1px #bbbbbb;
    display: flex;
    align-items: center;
}

.dhx_sample-container__toolbar-widget .user-button:hover {
    transition: opacity .2s ease-out;
    border: 1px solid #636363;
}

.dhx_sample-container__toolbar-widget .user-avatar {
    border-radius: 100px;
    height: 24px;
    width: 24px;
}

.dhx_sample-container__toolbar-widget .user-name {
    color: #616161;
    margin-left: 8px;
}

.dhx_sample-container__toolbar-widget .dhx_toolbar-button:hover {
    background-color: transparent;
}

.dhx_sample-container__toolbar-widget .dhx_navbar {
    margin-left: 15px;
    margin-right: 15px;
}

.dhx_sample-container__toolbar-form-widget {
    max-width: 270px;
    padding: 20px;
}

/*timepicker*/

.dhx_sample-container__timepicker-widget {
    width: 270px;
    padding: 20px;
    height: 300px;
}

/*tabbar*/

.dhx_sample-container__tabbar-widget {
    height: 400px;
    width: 802px;
    margin: 20px
}

#tabbar .title {
    font-size: 1.2em;
    padding-bottom: 4px;
    padding-top: 12px;
}

#tabbar .image {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 12px;
}

/*sidebar*/

.dhx_sample-container-for-navigation-items {
    height: calc(100vh - 61px);
    margin-top: 0;
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
}

.dhx_sample-container__sidebar-widget {
    width: fit-content;
    height: calc(100vh - 61px);
}

.dhx_sample-container__result {
    width: 100%;
    height: calc(100vh - 61px);
}

.dhx_textarea-with-sidebar {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    font-size: 18px;
    border: none;
    resize: none;
    padding: 20px;
}

.dhx_textarea-with-sidebar:focus {
    outline: 0;
}

.dhx_sample-container-for-navigation-items__sidebar {
    border-right: none;
    border-top: none;
    border-bottom: none;
    margin: 0;
    height: calc(100vh - 61px);
}

.dhx_sample-container-sidebar .dhx_form-group:not(:last-child) {
    margin-right: 0;
}

/*.dhx_form-group:last-child {*/
/*    width: 238px;*/
/*}*/

.sidebar-with-custom-html .user-info_container {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-with-custom-html .user-info_avatar {
    height: 40px;
    width: 40px;
}

.sidebar-with-custom-html .user-info_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

.sidebar-with-custom-html .user-info_contact {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 28px;
    color: rgba(0, 0, 0, 0.5);
}

.dhx_sample_controls-for-sidebar {
    margin-top: 20px;
    margin-left: 250px;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
}

.dhx_sample_controls-for-sidebar button {
    margin-right: 20px;
}

.dhx_sample-container__sidebar-for-sidebar {
    position: absolute;
    top: 150px;
    left: 250px;
    width: 400px;
    height: 600px;
}

.sidebar-contact .rounded-item-avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
}

.sidebar-contact .dhx_sidebar--minimized .dhx_navbar-title {
    opacity: 1;
}

.sidebar-contact .dhx_sidebar--minimized .rounded-item-avatar {
    margin: 0;
}

.sidebar-contact .dhx_sidebar--minimized .item-name {
    display: none;
}

.sidebar-contact .dhx_sidebar-button__html {
    padding-left: 6px;
}

.sidebar-contact .dhx_sidebar--minimized .dhx_sidebar-button__html {
    padding-left: 0;
}

.sidebar-contact .dhx_sidebar__item button {
    padding: 6px;
}

/*ribbon*/

.dhx_sample-form-container-ribbon {
    width: 400px;
    background: #fff;
    margin: 40px;
    padding: 10px;
}

.dhx_sample-form-container-ribbon select {
    width: 395px;
}

.dhx_sample-form-container-ribbon input {
    width: 380px;
}

/*popup*/

.dhx_sample-popup-container {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 400px;
}

.rect-box {
    padding: 20px;
    margin-top: 20px;
    height: 100px;
    border: 1px solid #dedede;
    display: inline-block;
}

.square-box {
    width: 200px;
    height: 200px;
    border: 1px solid #dedede;
    display: inline-block;
    text-align: center;
    line-height: 200px;
}

.square-box--center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dhx_sample-container-with-square-box {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 100%;
    height: calc(100vh - 121px);
}

.container-top,
.container-bottom {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}

.container-bottom {
    align-items: flex-end;
}

/*message*/

.dhx_tooltip-rect {
    width: 240px;
    height: 100px;
    line-height: 100px;
    border: 1px solid #a6a6a6;
    text-align: center;
}

.dhx_message .custom-message {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.dhx_message .custom-message svg {
    margin-right: 12px;
    margin-top: 10px;
}

.dhx_sample-container .message-config {
    width: 250px;
    height: 120px;
    padding: 20px;
    font-size: 16px;
    resize: none;
}

.dhx_sample-message_box {
    width: 600px;
    height: 400px;
    margin-top: 20px;
    border: 1px solid #a6a6a6;
    position: relative;
    text-align: center;
    line-height: 398px;
    overflow: hidden;
}

.form-section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.form-section button:first-child {
    margin-right: 20px;
}

/*menu*/

.dhx_sample-container__menu-widget {
    width: 90%;
    margin: 40px;
}

.dhx_sample-container__menu-widget .custom-image {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.dhx_sample-container__menu-widget .custom-image img {
    max-height: 36px;
}

.dhx_sample-container__menu-widget .dhx_menu-button__text {
    display: flex;
    align-items: center;
}

.dhx_sample-container__menu-widget .menu-item {
    vertical-align: middle;
    margin-right: 4px;
}

.dhx_sample-container__menu-widget .context-menu-item {
    padding-left: 12px;
    margin-right: 8px;
}

.dhx_sample-container__box-menu-widget {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 24px;
    padding: 20px;
    border: 1px solid black;
    height: 300px;
}

.dhx_sample-container__list-widget-grid, .dhx_sample-container__form-widget-grid {
    width: 250px;
    height: 600px;
    margin-right: 20px;
}

/*layout*/

.dhx_sample-container__layout-widget {
    width: 100%;
    height: 90%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px;
}

.dhx_sample-container__layout-widget .dhx_layout-cell--gravity {
    flex: 1 1 auto;
}

.dhx_layout-cell-content {
    padding: 12px;
}

.layout-box-grid {
    width: 50%;
}

.layout-dataview .dhx_dataview-item .image {
    width: 100%;
}

.layout-dataview .dhx_dataview-item {
    width: 230px;
}


/*helpers await-redraw*/

.dhx_sample-container__helpers-await-redraw-widget {
    width: 850px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.dhx_sample-container__helpers-await-redraw-widget .dhx_layout-cell--gravity {
    flex: 1 1 auto;
}

.dhx_sample-container__helpers-await-redraw-widget .image {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 12px;
}

.dhx_sample-container__helpers-await-redraw-widget .item-wrap {
    width: 330px;
    height: 108px;
    padding-top: 4px;
    padding-left: 4px;
}

/*helpers resizer*/

.dhx_sample-container__helpers-resizer-widget {
    width: 100%;
    height: calc(100% - 121px);
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.dhx_sample-container__helpers-resizer-widget .dhx_layout-cell--gravity {
    flex: 1 1 auto;
}

.left {
    background: #0080004d;
}

.center {
    background: #ff000033;
}

.right {
    background: #87ceeb4d;
}

.toolbar {
    background: #ffff004d;
}

/*helpers icon*/

.dhx_sample-icon-container {
    display: block;
    background: #fff;
    height: auto;
    min-height: 600px;
    max-width: 1200px;
    padding: 50px;
    column-count: 3;
    margin: 0;
}

.dhx_sample-icon-container .icon-card {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.dhx_sample-icon-container .dxi {
    display: inline-block;
    margin-right: 0.75rem;
    pointer-events: none;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.dhx_sample-icon-container .dxi:before {
    font-size: 28px;
    line-height: 28px;
}

.dhx_sample-icon-container .icon-caption {
    pointer-events: none;
    line-height: 28px;
    transition: color 0.2s ease;
}

.dhx_sample-icon-container button {
    overflow: visible;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    background-image: none;
    background-color: #fff;
    border: 0;
    touch-action: manipulation;
    -webkit-appearance: none;
    user-select: auto;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.dhx_sample-icon-container button:hover .icon-caption {
    color: #03a9f4;
}

.dhx_sample-icon-container button:hover .dxi {
    transform: scale(1.2, 1.2)
}

.dhx_sample-icon-container button:focus, button:active {
    outline: none;
}

/*grid*/

.dhx_sample-container__grid-widget, .dhx_sample-container__info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.dhx_sample-container__info {
    font-size: 14px;
    border: 1px solid #d2d2d2;
}

.dhx_sample-container__info > div:first-child {
    padding-left: 8px;
    padding-top: 2px;
    height: 100%;
}

.dhx_sample-container__info .dhx_sample-info {
    align-items: center;
    padding: 6px 0;
    line-height: 24px;
}

.dhx_sample-container__info .hotkey {
    margin-right: 8px;
    background-color: #e8e8e8;
    width: fit-content;
    text-align: center;
    padding: 0 8px;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    font-weight: bold;
}

.dhx_sample-container__window-widget {
    height: 400px;
    position: relative;
    text-align: center;
    line-height: 398px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.dhx_sample-container__bordered-window-widget {
    outline: 1px solid #a6a6a6;
}

/*vault*/

.top-rect-block {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #DFDFDF;
    position: relative;
    background: #fff;
}

.radio-group-block {
    display: flex;
}

.text-value {
    display: inline-block;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.radio-block {
    display: flex;
    margin: 0 0 0 12px;
    cursor: pointer;
    align-items: center;
}

.radio-label {
    margin: 0 0 0 4px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 24px;
}

.checked .radio {
    color: #0288D1;
}

.radio {
    font-size: 24px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
}

.container {
    width: 440px;
    height: 400px;
    box-sizing: border-box;
    margin: 100px auto 0 auto;
}

.wrapper {
    width: 920px;
    height: 320px;
    display: flex;
    margin: 100px auto 0 auto;
    justify-content: space-between;
}

.with-header {
    margin: 50px auto 0 auto;
}

.vault-block, .droparea {
    width: 440px;
    height: 320px;
}

.droparea {
    box-sizing: border-box;
    border: 1px solid #DFDFDF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.droparea-text {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.select-list {
    width: 100px;
    height: 28px;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin: 0 40px 0 12px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 20px;
}

.filter-input {
    height: 28px;
    width: 440px;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 0 8px;
}

.small-filter-input {
    width: 200px;
    margin: 0 0 0 12px;
}

.info-line {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.number-value {
    display: inline-block;
    color: #4C4C4C;
}

.vault-block, .events-info {
    width: 440px;
    height: 320px;
}

.events-info {
    font-size: 16px;
    color: #404040;
    overflow: auto;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
}

.event {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 4px 0 4px;
}

.info {
    width: 100%;
    border-bottom: 1px solid #cecece;
    padding: 0 8px 4px 8px;
    color: rgba(0, 0, 0, .38);
    box-sizing: border-box;
}

/*pivot*/

.dhx_sample-container__pivot-widget {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.dhx_sample-container__sidebar-for-pivot-widget {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 350px;
    max-width: 350px;
    margin-left: 20px;
    border: 1px solid #DFDFDF;
    padding: 10px;
    max-height: 600px;
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    overflow-y: auto;
}

/*spreadsheet*/

.dhx_sample-container__spreadsheet-widget {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.dhx_sample-radio__input {
    position: absolute;
    width: 0;
    height: 0;
    cursor: none;
    opacity: 0;
}

.dhx_sample-radio__label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    position: absolute;
    left: -16px;
    border: solid 2px rgba(0, 0, 0, .54);
    border-radius: 50%;
    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}

.dhx_sample-radio__label:after {
    content: " ";
    display: block;
    width: 8px;
    height: 8px;

    position: absolute;
    top: 8px;
    left: -10px;

    border-radius: 50%;
    background-color: #0288D1;
    opacity: 0;

    will-change: opacity;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.dhx_sample-radio__input:checked ~ .dhx_sample-radio__label:before {
    border-color: #0288D1;
}

.dhx_sample-radio__input:checked ~ .dhx_sample-radio__label:after {
    opacity: 1;
}

/*richtext*/

#toolbar-blocks .dhx_checkbox__visual-input-inline {
    display: inline-block;
}

#toolbar-blocks .dhx_form-group:not(:last-child), .dhx_form-group:last-child {
    margin: 17px 5px 0 0;
}

.textarea-for-richtext {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding: 10px;
}

/*diagram*/

.mixed-org-chart-diagram-widget .template {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid #DFDFDF;
    padding: 10px 12px;
}

.mixed-org-chart-diagram-widget .template span {
    display: flex;
}

.mixed-org-chart-diagram-widget .template h3, .mixed-org-chart-diagram-widget .template p {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin: 0 0 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mixed-org-chart-diagram-widget .template_container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.mixed-org-chart-diagram-widget .template_img-container {
    min-width: 93px;
    width: 93px;
    margin-right: 12px;
}

.mixed-org-chart-diagram-widget .template_img-container img {
    width: inherit;
    height: auto;
}

.mixed-org-chart-diagram-widget .template_icon {
    height: 20px;
    width: 20px;
    margin-right: 4px;
}

.html-template-diagram-widget .template {
    height: 100%;
    background: rgb(206, 239, 225);
    border: 2px solid rgb(10, 177, 105);
    border-radius: 10px;
    overflow: hidden;
}

.html-template-diagram-widget .template h3 {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: rgb(206, 239, 225);
    border-bottom: 2px solid rgb(10, 177, 105);
}

.html-template-diagram-widget .template ul {
    padding: 8px 5px 5px 5px;
    margin: 0;
}

.html-template-diagram-widget .template li {
    text-align: left;
    list-style-type: circle;
    margin: 5px 0 0 20px;
    white-space: nowrap;
}